{{#excel}}
<div class="d-flex justify-content-between">
    <div class="d-inline-block">
        <a href="{{{.}}}" class="btn btn-success mt-3">{{#str}} donwload, report_studentsession {{/str}} (Excel)</a>
        <a href="index.php" class="btn btn-primary mt-3">{{#str}}backtofilters, report_studentsession{{/str}}</a>
    </div>
</div>
{{/excel}}